<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <%- include('menu.html' ) %>
    <table class = "table table-hover table-struped text-center container mt-4" style = "border : 1px solid;">
    <thead>
      <tr>
        <th>제목</th>
        <th>작성일</th>
        <th>삭제</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0 ; i < data.length; i++){ %>
      <tr>
        <td><a href = "/content/<%= data[i]._id %>"><%= data[i].title %></a></td>
        <td><%= data[i].date %></td>
        <td><button class = 'delete btn btn-outline-danger' data-id='<%= data[i]._id%>'>삭제</button></td>
      </tr>
        <%  } %>
    </tbody>
  </table>
    <div class ="container my-3">
      <button class = 'btn btn-primary enter' style="float : right;">글쓰기</button>
    </div>

     <script src = "https://code.jquery.com/jquery-1.12.4.min.js"></script>
     <script>
        $('.delete').click(function(e){
          // 클래스명이 delete 인 엘리먼트를 클릭하면 실행됨
          let sid = e.target.dataset.id;
          let item = $(this);
         $.ajax({
          type : 'post',
          url : 'delete',
          data : {_id : sid}
        }).done(function(result){
          //응답에 성공했을때
          //location.reload();
          item.parent('td').parent('tr').remove();
        }).fail(function ( xhr , textStatus, errorThrown){
          //응답에 실패했을때.
          console.log('게시물 삭제 실패');
          console.log(xhr , textStatus, errorThrown);
          })
      });

      $('.enter').click(function(e){
        location.href = "\enter";
      })
      </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>